<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/gabi/gr2.jpg');">
      </div>
      <div class="container">
          <div class="content-center">
              <h1 class="title">Paweł Dudziński</h1>
              <h3 class="title">TWÓRCZOŚĆ</h3>
              <div class="text-center">
                  <a href="https://www.facebook.com/ObozowiskoLowcowMamutow" class="btn btn-primary btn-icon btn-round">
                      <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="https://www.youtube.com/channel/UCMXGWVH-DD3CiszoJ6Oi2zg" class="btn btn-primary btn-icon btn-round">
                      <i class="fa fa-youtube"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>

  <div class="main">
      <div class="section section-about-us">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                      <h2 class="title">Kim jestem?</h2>
                      <h5 >
                          Nazywam się Paweł Dudziński - jestem artystą, rzeźbiarzem. W latach
                          1962-68 studiowałem na ASP w Krakowie, na wydziale Architektury Wnętrz
                          i Projektowania Mebli. <br> Ukończyłem Akademię Sztuk
                          Pięknych we Wrocławiu z 1973 roku  na wydziale Rzeźby i Projektowania
                          Rzeźby do Architektury.

                      </h5>
                  </div>
              </div>
              <div class="separator separator-primary"></div>
              <div class="section-story-overview">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="image-container image-left" style="background-image: url('assets/img/gabi/dziadek.jpg')">
                              <!-- First image on the left side -->
                              <p class="blockquote blockquote-primary">
                                  "W malarstwie można próbować wszystkiego, ma się do tego prawo, pod warunkiem, że nigdy tego się już nie powtórzy."
                                  <br>
                                  <br>
                                  <small>-Pablo Picasso</small>
                              </p>
                          </div>
                          <!-- Second image on the left side of the article -->
                          <div class="image-container" style="background-image: url('assets/img/gabi/gwiazda.jpg')"></div>
                      </div>
                      <div class="col-md-5">
                          <!-- First image on the right side, above the article -->
                          <div class="image-container image-right" style="background-image: url('assets/img/gabi/amrita.jpg')"></div>
                          <h3>Teatr "PERFORMER"</h3>
                          <p> W 1989 roku założylem Teatr "Performer" - łączący "body action
                              painting" czyli taniec z farbami z muzyką powstającą na żywo podczas
                              akcji. Efektem takich Misteriów Dźwięku i Barwy są potężne obrazy na
                              płótnie, asfalcie ulicach, parkingach, placach oraz ścianach domów.
                          </p>
                          <p>
                              Wraz z Teatrem namalowaliśmy tą metodą największe
                              malowidło na świecie pod tytułem <b>"AMRITA"</b> w Zamościu o powierzchni
                              <b><i>17.830</i></b> metrów kwadratowych - w roku 1997 wpisane do Księgi Rekordów
                              Guinessa.
                          </p>
                          <p> Teatr Performer istnieje od roku 1991 i organizuje Międzynarodowy
                              Festiwal Sztuk Intuitywnych INTUITIVA w Lubiążu. <br>
                              Pierwsze 20 edycji - festiwal <b>Fortalicje</b> w Zamościu, które odbyły się również w roku 2018.
                          </p>
                          <h3>Rozwój</h3>
                          <p>
                              Podczas obchodów 40-lecia Zamojskiejo Lata Teatralnego odsłonięto tablicę pamiątkową Pawła Dudzińskiego w <b> Alei Sław w Zamościu </b>.
                          </p>
                          <p>
                              Od 2009 r. Teatr Performer jako Stowarzyszenie Teatr Performer Instytut Sztuki Nowej działa w Wiosce Artystycznej w <b>Lubiążu</b>,
                              założonej przez syna Sambora Dudzińskiego, do której przenieśliśmy się wraz z całą rodzina.
                          </p>
                          <p>
                              To tutaj mamy swoją <b>scenę, warsztat i hotelik</b> - miejsce idealne do tworzenia i prowadzenia warsztatów czy festiwali.

                          </p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="image-container image-left" style="background-image: url('assets/img/gabi/gr1.jpg')">
                          </div>
                      </div>
                      <div class="col-md-5">
                          <!-- First image on the right side, above the article -->
                          <div class="image-container image-right" style="background-image: url('assets/img/gabi/zagroda.jpg')"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section section-team text-center">
          <div class="container">
              <h2 class="title">Rodzina Dudzińskich</h2>
              <div class="team">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="team-player">
                              <img src="assets/img/gabi/ma.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                              <h4 class="title">Bożena</h4>
                              <p class="category text-primary">Żona</p>
                              <a href="https://www.facebook.com/bozena.dudzinska" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="team-player">
                              <img src="assets/img/gabi/sash1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                              <h4 class="title">Anna "Sasha"</h4>
                              <p class="category text-primary">Córka</p>

                              <a href="https://www.facebook.com/annajedrzejewskaart/" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook"></i></a>
                             <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram"></i></a>-->
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="team-player">
                              <img src="assets/img/gabi/dad.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                              <h4 class="title">Michał</h4>
                              <p class="category text-primary">Syn </p>
                              <a href="https://www.youtube.com/channel/UCiklHWMCp-xcc_o5JxzIaiQ" class="btn btn-primary btn-icon btn-round"><i class="fa fa-youtube-play"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="team-player">
                              <img src="assets/img/gabi/sabmbi2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                              <h4 class="title">Sambor</h4>
                              <p class="category text-primary">Syn</p>
                              <a href="https://www.facebook.com/SamborDudzinski/" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="team-player">
                              <img src="assets/img/gabi/kajo.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                              <h4 class="title">Kajetan</h4>
                              <p class="category text-primary">Syn</p>
                              <a href="https://www.facebook.com/kajetan.dudzinski" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="team-player">
                              <img src="assets/img/gabi/sev.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                              <h4 class="title">Seweryna</h4>
                              <p class="category text-primary">Córka</p>
                              <a href="https://www.instagram.com/hellosevka/" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram"></i></a>
                              <a href="https://soundcloud.com/severyna" class="btn btn-primary btn-icon btn-round"><i class="fa fa-soundcloud"></i></a>
                              <a href="https://www.facebook.com/hellosevka/" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <footer class="footer footer-default">
          <div class="container">

              <div class="copyright">
                  &copy;
                  {{data | date: 'yyyy'}}, Marix

              </div>
          </div>
      </footer>
</div>