<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/gabi/lowca.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">OBOZOWISKO ŁOWCÓW MAMUTÓW</h1>
                <h3 class="title"></h3>
                <div class="text-center">
                    <a href="https://www.facebook.com/ObozowiskoLowcowMamutow" class="btn btn-primary btn-icon btn-round">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCMXGWVH-DD3CiszoJ6Oi2zg" class="btn btn-primary btn-icon btn-round">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">A kuku!</h2>
                    <h5>
                        Wiadomości i informacje które prezentuję na kanale pochodzą z mego długiego 70 letniego żywota. <br>
                        Długoletnia praktyka rzeźby w drewnie, poparta studiami wyższymi ASP Kraków <br>
                        - projektowanie wnętrz i mebli oraz dyplom w ASP Wrocław z rzeźby i projektowania rzeźbiarskiego<br>
                        - musiały przynieść oczywiste rezultaty.

                    </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview text-center">
                <img style="" src="assets/img/gabi/gr2.jpg">
                <p>Norwegia</p>
                <img src="assets/img/gabi/noze.jpg"> <p>Noże mojego wyrobu</p>
                <h3>
                    Czasy harcerstwa i uprawianie aktywnej turystyki (survival) utwierdzały i wzbogacały moją wiedzę.
                    Przeto dzielę się teraz tym co zdobyłem. Stwierdzam, że jestem w tej materii całkiem niezły.
                </h3>
                <img src="assets/img/gabi/piehur.jpg"> <p>Gotowanie na ognisku</p>
                <img src="assets/img/gabi/dziadek.jpg"> <p>Wyprawa w góry</p>
                <img src="assets/img/gabi/survival.jpg"> <p>Kamuflaż ratuje przed deszcem</p>
                <img src="assets/img/gabi/lowca3.jpg"> <p>Rzeźbienie dłutem</p>
                <img src="assets/img/gabi/lowca4.jpg"> <p>W pracowni</p>
                <img src="assets/img/gabi/miska.jpg"> <p>Miski wykonane w czasie tworzenie tutorialu</p>

              <!--  <div class="image-container" style="background-image: url('assets/img/gabi/noze.jpg')"></div>-->

            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Marix

            </div>
        </div>
    </footer>
</div>
