<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/gabi/noze.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h3 class="title">OFERTA MEBLOWA</h3>
                <!--<h5 >
                    Meble te są wykonywane całkowicie przy użyciu narzędzi ręcznych (także starodawnych jak ciosło, ośnik, skoblica i oczywiście dłut rzeźbiarskich).
                    Drewno jakiego używam to drewno pozytywnie oddziałujące na organizm człowieka jak - <b>lipa, brzoza i sosna.</b>
                    <br> Meble wykańczam specjalną miksturą na bazie wosku pszczelego i oleju lnianego - zabezpieczającą drewno przed brudem, wilgocią i robactwem, stanowiącą trwałą powłokę przyjazną człowiekowi. Korzystam także z możliwości barwienia drewna na rozmaite kolory za pomocą bejcy.
                    Najchętniej wykonuję meble do gabinetów myśliwskich, zajazdów i karczm oraz sal kominkowych. Mogę również wykonywać projekty wnętrz razem z wykonaniem mebli.
                </h5>-->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <div class="button-container">
              <a href="mailto:teatrperformer@gmail.com" class="btn btn-primary btn-round btn-lg">KONTAKT : teatrperformer@gmail.com</a>
              <a href="mailto:teatrperformer@gmail.com" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="E-mail me">
                  <i class="fa fa-mail-forward"></i>
              </a>
          </div>
            <div class="row">
                <br>
                <h5 >
                    Meble te są wykonywane całkowicie przy użyciu narzędzi ręcznych (także starodawnych jak ciosło, ośnik, skoblica i oczywiście dłut rzeźbiarskich).
                    Drewno jakiego używam to drewno pozytywnie oddziałujące na organizm człowieka jak - <b>lipa, brzoza i sosna.</b>
                    <br><br> Meble wykańczam specjalną miksturą na bazie <b>wosku pszczelego i oleju lnianego</b> - zabezpieczającą drewno przed brudem, wilgocią i robactwem, stanowiącą trwałą powłokę przyjazną człowiekowi. Korzystam także z możliwości barwienia drewna na rozmaite kolory za pomocą bejcy.
                    <br><br>Najchętniej wykonuję meble do gabinetów myśliwskich, zajazdów i karczm oraz sal kominkowych. Mogę również wykonywać projekty wnętrz razem z wykonaniem mebli.
                </h5>
                <div class="col-md-12">
                    <h4 class="title text-center">Portfolio</h4>
                      <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i>1</i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections text-center">
                                          <div class="col-md-10">
                                              <img src="assets/img/fwdmeble/KOMPLETB.JPG" alt="" class="img-raised">
                                              <img src="assets/img/fwdmeble/KOMPLETD.JPG" alt="" class="img-raised">
                                              <img src="assets/img/fwdmeble/SKRZYNIA.JPG" alt="" class="img-raised">
                                              <img src="assets/img/fwdmeble/SKRZYNIA2.JPG" alt="" class="img-raised">
                                              <img src="assets/img/fwdmeble/BAREK.JPG" alt="" class="img-raised">
                                              <img src="assets/img/fwdmeble/BAREK2.JPG" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i>2</i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-10">
                                              <img src="assets/img/fwdmeble/ŁAWA.JPG" alt="" class="img-raised">
                                              <img src="assets/img/fwdmeble/ŁAWA2.JPG" alt="" class="img-raised">
                                              <img src="assets/img/fwdmeble/ŁAWA3.JPG" alt="" class="img-raised">
                                              <img src="assets/img/fwdmeble/ŁAWA4.JPG" alt="" class="img-raised">
                                              <img src="assets/img/fwdmeble/ŁAWA5.JPG" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Marix

            </div>
        </div>
    </footer>
</div>
